{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="background-color: #7299df; color:white;">
        <form method="POST" action="">
                {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Войти</legend>
                <div class="form-group">
                <label class="form-control-label">Имя пользователя</label>
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-control-label">Пароль</label>
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    <label class="form-check-label">Запомни меня</label>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-light">Войти</button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Не зарегистрированы? <a class="ml-12" href="{{ url_for('register') }}">Самое время!</a>
        </small>
</div>
{% endblock content %}